.agent-card.pt-card
  width: 350px
  margin-right: 15px
  color: #10161A
  padding: 0px

  .agent-card-header
    font-size: 16px
    font-weight: 500
    padding: 10px
    background-color: #EBF1F5
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)

    .indicator-light
      margin-right: 6px

  .agent-card-graph
    height: 73px
    padding-top: 6px
    overflow: hidden
    background-color: #F5F8FA

  .agent-card-device
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    padding: 12px
