.agent-table
  flex: 1
  background: #FFFFFF
  border-top: 1px solid rgba(0, 0, 0, 0.2)

  .ReactVirtualized__Table__headerRow
    padding: 0 15px
    border-bottom: 2px solid rgba(0, 0, 0, 0.2)

  .ReactVirtualized__Table__headerColumn
    line-height: 1

  .agent-table-row
    padding: 0 15px
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    cursor: pointer
    transition: background 0.1s ease

    &:nth-child(odd)
      background: #F5F8FA

    &:hover
      background: #E1E8ED
