.chart.pt-card
  background: #FFFFFF
  padding: 15px
  margin-bottom: 15px
  font-size: 12px

  .recharts-xAxis
    .recharts-cartesian-axis-tick-value
      transform: translateY(5px)

  .recharts-yAxis
    .recharts-cartesian-axis-tick-value
      transform: translateX(-5px)