.chart.pt-card
  height: 300px
  background: #FFFFFF
  padding: 15px
  margin-bottom: 15px

  .empty-message
    display: flex
    height: 300px
    align-items: center
    justify-content: center

  .recharts
    font-size: 12px

  .recharts-xAxis
    .recharts-cartesian-axis-tick-value
      transform: translateY(5px)

  .recharts-yAxis
    .recharts-cartesian-axis-tick-value
      transform: translateX(-5px)