.breadcrumbs.pt-breadcrumbs

  .pt-breadcrumb
    font-family: $title_font
    font-size: 18px
    line-height: 16px
    text-transform: uppercase

    .pt-icon-standard, .pt-icon-large
      padding-right: 6px

  & > li::after
    opacity: 0.5
    padding: 0 10px
