.breadcrumbs.pt-breadcrumbs

  .pt-breadcrumb
    padding: 6px
    font-family: $title_font
    font-size: 16px
    line-height: 20px
    text-transform: uppercase

    .pt-icon-standard, .pt-icon-large
      vertical-align: top
      line-height: 20px
      padding-right: 8px

  & > li::after
    opacity: 0.4
    padding: 6px 10px
    font-size: 20px
    font-weight: 700
    content: "/"
