.sidebar
  background-color: #5C7080
  width: 300px
  padding: 15px
  color: #FFFFFF

  .sidebar-header
    display: flex
    align-items: center
    font-family: $title_font
    font-size: 26px
    text-transform: uppercase

    .icon
      margin-right: 10px