.sidebar
  background-color: #5C7080
  width: 300px
  padding: 15px
  color: #FFFFFF

  .sidebar-header
    display: flex
    align-items: center
    font-family: $title_font
    font-size: 26px
    text-transform: uppercase

    .icon
      margin-right: 10px

  .sidebar-summary
    padding: 10px
    background: #394B59
    border-radius: 10px
    margin: 20px 0

    .big-number
      font-family: $title_font
      font-weight: 300
      font-size: 42px
