.device-widget
  width: 100%

  .device-widget-header
    font-size: 14px
    font-weight: 500
    display: flex

    .device-info
      flex: 1

    .device-type
      font-size: 11px
      font-weight: 600
      padding: 2px 4px
      border-radius: 6px
      color: #FFFFFF

      &.device-type-cpu
        background-color: #2965CC

      &.device-type-gpu
        background-color: #8F398F

  .device-widget-metrics
    margin-top: 6px
    display: flex

    .device-metric
      font-size: 12px
      flex: 1
      display: flex
      align-items: center

      svg
        fill: #8A9BA8
        margin-right: 4px