.device-card.pt-card
  background: #F5F8FA
  width: 100%
  padding: 0
  margin-bottom: 15px
  display: flex

  .device-card-type
    margin: 3px
    padding: 15px 0
    font-size: 12px
    text-transform: uppercase
    border-top-left-radius: 3px
    border-bottom-left-radius: 3px
    span
      display: block
      text-align: center
      transform: rotate(-90deg)

  &.device-card-cpu .device-card-type
    background: #669EFF

  &.device-card-gpu .device-card-type
    background: #AD99FF

  .device-card-title
    padding: 10px 15px
    width: 150px
    border-right: 1px solid #CCCCCC

    .device-name
      font-size: 18px
      font-weight: 600

    .device-kind
      font-size: 12px

  .device-card-main
    flex: 1
    background: #FFFFFF
    padding: 15px

    .device-gauge-list
      display: flex

      li
        flex: 1
        margin-right: 10px

        &:last-child
          margin-right: 0