@import '~@blueprintjs/core/dist/blueprint.css'
@import '~react-virtualized/styles.css'

body, html, #app, .shell, .page
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden
  display: flex
  background-image: url('../assets/background.png')

.page
  margin-top: 50px

  .page-content
    padding: 15px

.modal
  align-items: center
  justify-content: center

  .modal-content
    width: 350px
    padding: 30px

    .modal-footer
      padding-top: 20px

ul
  margin: 0
  padding: 0

li
  list-style-type: none
