@import '~@blueprintjs/core/dist/blueprint.css'
@import '~react-virtualized/styles.css'

body, html, #root, .app, .shell
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden
  display: flex
  background-image: url('../assets/background.png')
  font-family: 'Open Sans', sans-serif;

.modal
  align-items: center
  justify-content: center

  .modal-content
    width: 350px
    padding: 30px

    .modal-footer
      padding-top: 20px

ul
  margin: 0
  padding: 0

li
  list-style-type: none

.pt-dialog-body
  display: flex

  .pt-label
    width: 100%
    display: flex
    flex-direction: column

h5
  font-family: 'Open Sans Condensed', sans-serif
  font-weight: 700
  text-transform: uppercase
